# Node.js
node_modules/
dist/
built/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.log

# Dependency directory
jspm_packages/

# Optional npm cache directory
.npm

# Typescript
*.tsbuildinfo
